html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.App {
	text-align:center;
}

img.Tile {
	/*
	width: calc( 100% - 200px );
	height: calc( 100% - 200px );
	*/
	aspect-ratio: auto;
	width: 100%;
	height: 100%;
}

div.Viewer {
	width: 100%;
	height: 100%;
}

div.Viewer i.Arrow {
	position: fixed;
	color: white;
	cursor: pointer;
	background-color: #1a1a1a99;
	font-weight: 400;
	font-size: 48px;
	z-index: 111;
}

div.Viewer i.Arrow:hover {
	color: red;
}

div.Viewer i.Arrow.Left, div.Viewer i.Arrow.Right {
	height: 100%;
	top: 0px;
	text-align: center;
	vertical-align: middle;
	padding-top: calc( 25% );
	
}

div.Viewer i.Arrow.Up, div.Viewer i.Arrow.Down {
	width: 100%;
	left: 0px;
	vertical-align: middle;
	text-align: center;
}

div.Viewer i.Arrow {
	z-index: 101;
}

div.Viewer i.Arrow.Up {
	top: 0px;
}

div.Viewer i.Arrow.Down {
	bottom: 0px;
}

div.Viewer i.Arrow.Left {
	left: 0px;
}


div.Viewer i.Arrow.Right {
	right: 0px;
}

div.Details {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 500px;
	height: 250px;
	float: left;
	border: 2px solid black;
	z-index: 101;
	background-color: white;
}


div.Property div {
	display: inline-block;
}

div.Property div.Name {
	font-weight: 400px;
	font-size: 1.25em;
}

div.Property div.Value {

}