
html, body {
	margin: 0px;
	width: 100%;
	height: 100%;
}

.App .Menubar.Hidden {top: -50px;}
.App .Menubar{position:fixed;width:100%;top:0;left:0;transition:.5s}
.App .MenubarContainer{width:100%;height:75px;position:fixed;top:0;left:0}
.App .PageContainer {
	background-color: #ccc;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.App .Page {
	height: 100%;
	width: 100%;
}

